root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{zsh,gawk}]
indent_style = space
max_line_length = 90
indent_size = 2

[*.md]
max_line_length = 90

[LICENSE]
max_line_length = 80
